<!-- begin::Header -->
<div class="card mb-5 mb-xl-8">

<div class="card-header border-0 pt-5">
  <h3 class="card-title align-items-start flex-column">
    <span class="card-label fw-bolder fs-3 mb-1">Cursos</span>
    <!-- <span class="text-muted mt-1 fw-bold fs-7">Over 500 members</span> -->
  </h3>

  <div class="card-toolbar">
    <a href="#" class="btn btn-sm btn-light-primary">
      <app-keenicon name="plus" class="fs-3"></app-keenicon>
      Agregar curso
    </a>
  </div>
</div>
<!-- end::Header -->
<!-- begin::Body -->
<div class="card-body py-3">
  <!-- begin::Table container -->
  <div class="table-responsive">
    <!-- begin::Table -->
    <table
      class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4"
    >
      <!-- begin::Table head -->
      <thead>
        <tr class="fw-bolder text-muted">
          <th class="min-w-150px">Area</th>
          <th class="min-w-140px">Estudiantes</th>
          <th class="min-w-120px">Acciones</th>
          <!-- <th class="min-w-100px text-end">Acciones</th> -->
        </tr>
      </thead>
      <!-- end::Table head -->
      <!-- begin::Table body -->
      <tbody>
        <tr>
          <td>
            <div class="d-flex align-items-center">
              <div class="d-flex justify-content-start flex-column">
                <a
                  href="#"
                  class="text-gray-900 fw-bolder text-hover-primary fs-6"
                >
                  Matemáticas
                </a>
                <span class="text-muted fw-bold text-muted d-block fs-7">
                  Polinomios
                </span>
              </div>
            </div>
          </td>
          <td>
            <a
              href="#"
              class="text-gray-900 fw-bolder text-hover-primary d-block fs-6"
            >
              20
            </a>
            <span class="text-muted fw-bold text-muted d-block fs-7">
              Estudiantes
            </span>
          </td>

          <td>
            <div class="d-flex justify-content-end flex-shrink-0">
              <a
                href="#"
                class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"
              >
                <app-keenicon name="plus" class="fs-3"></app-keenicon>
              </a>
              <a
                href="#"
                class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"
              >
                <app-keenicon name="pencil" class="fs-3"></app-keenicon>
              </a>
              <a
                href="#"
                class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm"
              >
                <app-keenicon name="trash" class="fs-3"></app-keenicon>
              </a>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="d-flex align-items-center">
              <div class="d-flex justify-content-start flex-column">
                <a
                  href="#"
                  class="text-gray-900 fw-bolder text-hover-primary fs-6"
                >
                  Inglés
                </a>
                <span class="text-muted fw-bold text-muted d-block fs-7">
                  Verbo to-be
                </span>
              </div>
            </div>
          </td>
          <td>
            <a
              href="#"
              class="text-gray-900 fw-bolder text-hover-primary d-block fs-6"
            >
              150
            </a>
            <span class="text-muted fw-bold text-muted d-block fs-7">
              Estudiantes
            </span>
          </td>
          <td>
            <div class="d-flex justify-content-end flex-shrink-0">
              <a
                href="#"
                class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"
              >
                <app-keenicon name="plus" class="fs-3"></app-keenicon>
              </a>
              <a
                href="#"
                class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"
              >
                <app-keenicon name="pencil" class="fs-3"></app-keenicon>
              </a>
              <a
                href="#"
                class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm"
              >
                <app-keenicon name="trash" class="fs-3"></app-keenicon>
              </a>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="d-flex align-items-center">
              <div class="d-flex justify-content-start flex-column">
                <a
                  href="#"
                  class="text-gray-900 fw-bolder text-hover-primary fs-6"
                >
                  Física
                </a>
                <span class="text-muted fw-bold text-muted d-block fs-7">
                  MRU
                </span>
              </div>
            </div>
          </td>
          <td>
            <a
              href="#"
              class="text-gray-900 fw-bolder text-hover-primary d-block fs-6"
            >
              456
            </a>
            <span class="text-muted fw-bold text-muted d-block fs-7"
              >Estudiantes</span
            >
          </td>
          <td>
            <div class="d-flex justify-content-end flex-shrink-0">
              <a
                href="#"
                class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"
              >
                <app-keenicon name="plus" class="fs-3"></app-keenicon>
              </a>
              <a
                href="#"
                class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"
              >
                <app-keenicon name="pencil" class="fs-3"></app-keenicon>
              </a>
              <a
                href="#"
                class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm"
              >
                <app-keenicon name="trash" class="fs-3"></app-keenicon>
              </a>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="d-flex align-items-center">
              <div class="d-flex justify-content-start flex-column">
                <a
                  href="#"
                  class="text-gray-900 fw-bolder text-hover-primary fs-6"
                >
                  Química
                </a>
                <span class="text-muted fw-bold text-muted d-block fs-7">
                  Química orgánica
                </span>
              </div>
            </div>
          </td>
          <td>
            <a
              href="#"
              class="text-gray-900 fw-bolder text-hover-primary d-block fs-6"
            >
              620
            </a>
            <span class="text-muted fw-bold text-muted d-block fs-7">
              Estudiantes
            </span>
          </td>

          <td>
            <div class="d-flex justify-content-end flex-shrink-0">
              <a
                href="#"
                class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"
              >
                <app-keenicon name="plus" class="fs-3"></app-keenicon>
              </a>
              <a
                href="#"
                class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"
              >
                <app-keenicon name="pencil" class="fs-3"></app-keenicon>
              </a>
              <a
                href="#"
                class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm"
              >
                <app-keenicon name="trash" class="fs-3"></app-keenicon>
              </a>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="d-flex align-items-center">
              <div class="d-flex justify-content-start flex-column">
                <a
                  href="#"
                  class="text-gray-900 fw-bolder text-hover-primary fs-6"
                >
                  Sociales
                </a>
                <span class="text-muted fw-bold text-muted d-block fs-7">
                  Guerra fria
                </span>
              </div>
            </div>
          </td>
          <td>
            <a
              href="#"
              class="text-gray-900 fw-bolder text-hover-primary d-block fs-6"
            >
              149
            </a>
            <span class="text-muted fw-bold text-muted d-block fs-7">
              Estudiantes</span
            >
          </td>
          <td>
            <div class="d-flex justify-content-end flex-shrink-0">
              <a
                href="#"
                class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"
              >
                <app-keenicon name="plus" class="fs-3"></app-keenicon>
              </a>
              <a
                href="#"
                class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"
              >
                <app-keenicon name="pencil" class="fs-3"></app-keenicon>
              </a>
              <a
                href="#"
                class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm"
              >
                <app-keenicon name="trash" class="fs-3"></app-keenicon>
              </a>
            </div>
          </td>
        </tr>
      </tbody>
      <!-- end::Table body -->
    </table>
    <!-- end::Table -->
  </div>
  <!-- end::Table container -->
</div>
<!-- begin::Body -->

</div>
